@model CasesPageModel

@{
    ViewData["Title"] = "Cases";
}

<h1>Cases</h1>

<p>
    <a class="btn btn-success" asp-action="Create">New case</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created At</th>
        </tr>
    </thead>
   <tbody>
        @foreach (var @case in Model.Cases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => @case.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @case.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @case.CreatedAt)
                </td>
            </tr>
        }
   </tbody>    
</table>